{% extends 'base.html' %}

{% block title %}
    Coin Details
{% endblock %}

{% block content %}

<style>
    .list-group {
        display: inline-block;
    }
</style>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark" style="color:white">
    <div class="mx-auto my-1">

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <span class="badge bg-secondary">Rank #{{ coin[0]['market_cap_rank'] }}</span>
                    </div>
            
                    <div>
                        <h4 class="mt-2">
                            <img src="{{ coin[0]['image'] }}" class="mr-1" width="30" height="30"> {{ coin[0]['name'] }} <span style="text-transform:uppercase">({{ coin[0]['symbol'] }})</span>
                        </h4>
                    </div>
                    
                    <div style="clear: both">
                        <h2 style="display: inline">{{ coin[0]['current_price'] }} </h2>
                        <h5 id="percentage" style="display: inline">
                            <script>
                                if ({{ coin[0]['market_cap_change_percentage_24h'] | safe }} >= 0) {
                                    document.getElementById('percentage').style.color="greenyellow";
                                } else {
                                    document.getElementById('percentage').style.color="red";
                                }
                            </script>

                            {{ coin[0]['market_cap_change_percentage_24h'] }}%
                        </h5>
                    </div>
                    
                    <br>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary"> <span style="font-weight: bold;"> Market Cap</span>&nbsp;&nbsp;&nbsp;&nbsp; {{ coin[0]['market_cap'] }}</li>
                            <li class="list-group-item list-group-item-secondary"> <span style="font-weight: bold;"> Fully Diluted Valuation</span>&nbsp;&nbsp;&nbsp;&nbsp; {{ coin[0]['fully_diluted_valuation'] }}</li>
                            <li class="list-group-item list-group-item-secondary"> <span style="font-weight: bold;"> Circulating Supply</span>&nbsp;&nbsp;&nbsp;&nbsp; {{ coin[0]['circulating_supply'] }}</li>
                            <li class="list-group-item list-group-item-secondary"> <span style="font-weight: bold;"> Total Supply</span>&nbsp;&nbsp;&nbsp;&nbsp; {{ coin[0]['total_supply'] }}</li>
                            <li class="list-group-item list-group-item-secondary"> <span style="font-weight: bold;"> Max Supply</span>&nbsp;&nbsp;&nbsp;&nbsp; {{ coin[0]['max_supply'] }}</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-6">
                   <h4>
                    {{ coin[0]['name'] }} <span style="text-transform:uppercase">({{ coin[0]['symbol'] }})</span> Price Chart for 7d
                   </h4> 
                    <canvas id="myCanvas" style="background-color: #E0E0E0;" width="500" height="380"></canvas>
                        <script>
                            let ctx = "myCanvas";
                            let sparkLine = new Chart(ctx, {
                                type: "line",
                                data:{
                                    labels: {{ coin[0]['sparkline_in_7d']['price'] }},
                                    datasets: [{
                                        data: {{ coin[0]['sparkline_in_7d']['price'] }},
                                        fill: false,
                                        borderColor: 'rgb(3, 186, 252)',
                                        lineTension: 0.1
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    layout: {
                                        padding: 30
                                    },
                                    elements: {
                                        point: {
                                            radius: 0
                                        }
                                    },
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    },
                                    scales: {
                                        x: { display: false },
                                        yAxes: [{
                                            gridLines: {
                                                color: '#FFFFFF'
                                            },
                                        }],
                                    },
                                }
                            });
                        </script>
                </div>

            </div>
            

        </div>
        
    
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

{% endblock %}