{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <!-- Using Jinja templating -->
    <div class="row" style="margin:10px">
        <div class="col-12">
            <h2>Market</h2>
            <p>Click on any of the coins for more details. To purchase coin(s), click on the 'Buy Coin' button.</p>
            <p>To obtain the latest market rates, click on the button below.</p>

            <div class="checkbox">
                <a class="btn btn-sm btn-primary" href="{{ url_for('dashboard_page') }}">Refresh Market</a>
            </div>

            <br>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Coin</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Price (USD)</th>
                        <th scope="col">7d</th>
                        <th scope="col">Mkt Cap</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coin in coins %}
                    {% include 'includes/coins_modals.html' %}
                        <tr>
                            <td class="align-middle">{{ loop.index }}</td>
                            <td class="align-middle">
                                <a href="{{ url_for('detailed_coin', coin_id=coin.coin_id) }}">
                                    <img src={{ coin.image }} width="30" height="30">
                                </a>
                            </td>
                            <td class="align-middle" style="font-weight:bold">{{ coin.name }}</td>
                            <td class="align-middle" style="text-transform:uppercase">{{ coin.symbol }}</td>
                            <td class="align-middle">${{ coin.current_price }}</td>
                            <td class="align-middle">
                                {{ coin.market_cap_change_percentage_24h }}%
                            </td>
                            <td class="align-middle">${{ coin.market_cap }}</td>

                            <td class="align-middle">
                                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ coin.name }}">Buy Coin</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
{% endblock %}
