{% extends 'base.html' %}

{% block title %}
    CG Commerce
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <img class="center-block" src="https://static.coingecko.com/s/thumbnail-007177f3eca19695592f0b8b0eabbdae282b54154e1be912285c9034ea6cbaf2.png">
            <h1 class="display-4 font-weight-normal">CoinGecko Commerce</h1>
            <p class="lead font-weight-normal">Start viewing and purchasing coins by clicking the button below.</p>
            <a class="btn btn-primary" href="{{ url_for('dashboard_page') }}">Let's Roll</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

{% endblock %}