{% extends 'base.html' %}

{% block title %}
    Order History
{% endblock %}

{% block content %}

<div class="row" style="margin:10px">
    <div class="col-12">
        <h2>Order History</h2>
        <p>Your orders made.</p>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Coin</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price Per Unit (USD)</th>
                    <th scope="col">Total Price (USD)</th>
                    <th scope="col">Date/Time Purchased</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_history %}
                    <tr>
                        <td class="align-middle">{{ loop.index }}</td>
                        <td class="align-middle">
                            <img src="{{ coin_img_query(order.coin_id) }}" width="30" height="30">
                        </td>
                        <td class="align-middle">
                            {{ coin_name_query(order.coin_id) }}
                        </td>
                        <td class="align-middle">{{ order.quantity_owned }}</td>
                        <td class="align-middle">{{ order.price_per_unit }}</td>
                        <td class="align-middle">{{ order.total_price }}</td>
                        <td class="align-middle">{{ order.date_time_purchased }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div> 

{% endblock %}