{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-register" style="color:white">
                {{ form.hidden_tag() }}
                <img class="m-4" src="https://static.coingecko.com/s/coingecko-logo-white-3f2aeb48e13428b7199395259dbb96280bf47ea05b2940ef7d3e87c61e4d8408.png" alt="CoinGecko Logo">

                <h1 class="h3 mb-3 font-weight-normal">
                    Register
                </h1>

                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}

                <br>
                {{ form.email_address.label() }}
                {{ form.email_address(class="form-control", placeholder="Email") }}

                <br>
                {{ form.password1.label() }}
                {{ form.password1(class="form-control", placeholder="Password") }}

                <br>
                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}

                <br><br><br>
                <div class="checkbox mb-3 mt-5">
                    <h6>Already have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
                </div>

                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
            </form>
        </div>
    </body>  
{% endblock %}