<style>
    .modal-content {
        background-color: darkslategray;
    }
</style>

<div class="modal fade" id="Modal-PurchaseConfirm-{{ coin.name }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Purchase
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ purchase_form.hidden_tag() }}
                    <h4 class="text-center">
                        {{ coin.name }} 
                    </h4>

                    <br>
                    <h6 class="text-center">
                        1 {{ coin.name }} costs ${{ coin.current_price }}.
                        Purchase coin by enter quantity.
                    </h6>

                    <br>
                    {{ purchase_form.quantity.label() }}
                    {{ purchase_form.quantity(class="form-control", placeholder="Enter Quantity")}}

                    <br>
                    <input id="purchased_coin" name="purchased_coin" type="hidden" value="{{ coin.name }}">
                    {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>